<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shirt.name %>
</p>

<p>
  <strong>Tailor:</strong>
  <%= @shirt.tailor %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shirt.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shirt.price %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @shirt.availability %>
</p>

<%= link_to 'Edit', edit_shirt_path(@shirt) %> |
<%= link_to 'Back', shirts_path %>
