<div class="container">
  <div class="row">

    <div class="col-md-6">
      <%= image_tag "shirt.jpg", class: "img-responsive" %>
    </div>

    <div class="col-md-6">
      <h3> <%= @shirt.name %> by <%= @shirt.tailor%> </h3>
      <p class="justify"> <%= @shirt.description %> </p>
      <h4 class="text-right">$<%= @shirt.price.to_f / 100 %></h4>
    </div>

  </div>
  <%= link_to "Edit", edit_shirt_path(@shirt) %>
  <%= link_to "Back", shirts_path %>
</div>
